#lockedDoor {
  top: 204px;
  left: 597px;
  width: 143px;
  height: 262px;
}

#lamp {
  top: 230px;
  left: 234px;
  width: 94px;
  height: 55px;
}

#picture {
  top: 230px;
  left: 234px;
  width: 94px;
  height: 55px;
}

.picture-area {
  position: absolute;
  top: 124px;
  right: 584px;
  width: 144px;
  height: auto;
}

.picture-area-clicked {
  position: absolute;
  top: 124px;
  right: 531px;
  width: 144px;
  height: auto;
  transform: rotate(-25deg);
}

.picture-area img {
  width: 144px;
  height: auto;
}

.key-area {
  position: absolute;
  top: 124px;
  right: 584px;
  width: 205px;
  height: auto;
}

.key-area img {
  width: 205px;
  height: auto;
}
