.pc-area {
  position: absolute;
  top: 53px;
  right: 250px;
  width: 421px;
  height: 236px;
}

.pc-area-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 421px;
  height: 236px;
}

.pc-area-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-error {
  color: red;
  margin-top: 0.5rem;
}

.symbols {
  display: flex;
}

.symbols code {
  font-size: 5rem;
  font-weight: bold;
  margin: 1rem;
}
