.pc-area {
  position: absolute;
  border: 1px solid blue;
  top: 53px;
  right: 250px;
  width: 421px;
  height: 236px;
}

.pc-area-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 421px;
  height: 236px;
}

.symbols {
  display: flex;
}

.symbols code {
  font-size: 5rem;
  font-weight: bold;
  margin: 1rem;
}
